<!-- PlayerMapper.xml -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.PlayerMapper">
    <insert id="createPlayer" parameterType="com.popopapi.services.database.models.Player">
        INSERT INTO players (uuid, username)
        VALUES (#{uuid}, #{username})
    </insert>

    <select id="getPlayerById" parameterType="java.lang.Integer" resultType="com.popopapi.services.database.models.Player">
        SELECT * FROM players WHERE id = #{id}
    </select>

    <select id="getAllPlayers" resultType="com.popopapi.services.database.models.Player">
        SELECT * FROM players
    </select>

    <update id="updatePlayer" parameterType="com.popopapi.services.database.models.Player">
        UPDATE players
        SET uuid = #{uuid}, username = #{username}
        WHERE id = #{id}
    </update>

    <delete id="deletePlayer" parameterType="java.lang.Integer">
        DELETE FROM players WHERE id = #{id}
    </delete>
</mapper>